a {
  text-decoration: none;
  color: #0411f9;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
i {
  color: black;
  font-size: 40px;
  margin: 0 40px;
}

i:hover {
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: black;
}

.link-box {
  width: 500px;
  background-color: #939393;
  border: 3px solid #4c4c4c;
  padding: 25px;
  margin: 25px;
  line-height: 1.5;
}

a:hover {
  color: white;
}

h1 {
  color: #42cef4;
}

h2 {
  color: #ffffff;
  font-weight: bold;
}

h3 {
  color: #ffffff;
  font-weight: bold;
}

p {
  color: orange;
  font-weight: bold;
  font-size: 18px;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  margin: 0 40px;
  padding: 5px;
}

.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;

  /* Standar Syntax */
  animation: rainbow 3s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  20%{color: red;}
  40%{color: yellow;}
  60%{color: green;}
  80%{color: blue;}
  100%{color: orange;}
}
/* Internet Explorer */
@-ms-keyframes rainbow{
  20%{color: red;}
  40%{color: yellow;}
  60%{color: green;}
  80%{color: blue;}
  100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
  5%{color: red;}
  35%{color: yellow;}
  65%{color: green;}
  85%{color: blue;}
  0%{color: orange;}
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url("https://blog.de-swaef.eu/content/images/2018/01/blockchain-bg-1.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
